@using DataAccessLayer.Models
@model CreateEmployeesDropdowns

@{
    ViewBag.Title = "Create";
}
<h1>@ViewBag.Title Employee</h1>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div asp-validation-summary=All></div>

    <div class="container">
        <div class="row">
            <div class="col-12 p-3">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" autocomplete="off" />
            </div>
            <div class="col-12 p-3">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" autocomplete="off" />
            </div>
            <div class="col-12 p-3">
                <label asp-for="Employee.Salay" class="control-label"></label>
                <input asp-for="Employee.Salay" class="form-control" autocomplete="off" />
            </div>
            
            <div class="col-12 p-3">
           <label asp-for="Managers" class="control-label"></label>
                @Html.DropDownListFor(a=>a.ManagerId,new SelectList(Model.Managers,"Value","Text"),"Select Manager", new { @class = "form-control" })
            </div>
            
            <div class="col-12 p-3">
           <label asp-for="Department" class="control-label"></label>
                @Html.DropDownListFor(a=>a.DepartmentId,new SelectList(Model.Department,"Value","Text"),"Select Department", new { @class = "form-control" })
            </div>
    

            <div class="col-12 p-3">
                <label asp-for="Employee.Image" class="control-label"></label>
                <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" class="form-control" />
            </div>
            <div class="col-12 p-3">
                <input type="button" value="Back" class="btn btn-dark" onclick="location.href='@Url.Action("Index", "Employee")'" />
                <input type="submit" class="btn btn-outline-primary" value="Save" />
                <a asp-action="Index" class="btn-primary btn-secondary"></a>
            </div>

        </div>
    </div>
}
